<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="55378k.sid.GalacticWars" Publisher="CN=5FE7A094-CC4C-4F6A-A097-86DCF6EF6478" Version="1.1.0.29" />
  <Properties>
    <DisplayName>Galactic Wars</DisplayName>
    <PublisherDisplayName>k.sid</PublisherDisplayName>
    <Logo>Assets\Icons\50x50Tile.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GameEngine.App">
      <m2:VisualElements DisplayName="Galactic Wars" Description="Explore the worlds of Galactic Wars while collecting valuable coins! Can you handle the hordes of space robots that will try to stop you?" BackgroundColor="#404040" ForegroundText="light" Square150x150Logo="Assets\Icons\150x150Tile.png" Square30x30Logo="Assets\Icons\30x30Tile.png">
        <m2:DefaultTile ShortName="Galactic Wars" Wide310x150Logo="Assets\Icons\310x150Tile.png">
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen BackgroundColor="#404040" Image="Assets\Icons\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>